/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  min-height: calc(100vh - 16rem);
  text-align: center;
  position: relative;
  overflow: hidden;
  --ifm-color-primary: #00bb75;
  background-image: url("/img/bg-hero.svg");
  background-size: 200px 200px;
  background-repeat: repeat;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
